.centres-content1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5rem;

  @media only screen and (max-width: 706px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.centres-content-text {
  font-family: "Spectral", serif;
  color: black;
  font-weight: 600;
}
.centres-content1 img {
  max-width: 100%;
  width: 100%;
  @media only screen and (max-width: 706px) {
    margin: auto;
  }
}

.centres-content2 {
  background-color: rgba(250, 250, 250, 1);

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
  @media only screen and (max-width: 706px) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.centres-content2-item img {
  margin-bottom: 1rem;
  max-width: 100%;
}
.centres-content2-item-text {
  display: flex;
  justify-content: space-between;
  font-family: "Spectral", serif;
  font-weight: 600;
}
.centres-content2-item-text div {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.centres-content2-item-text div svg {
  width: 2rem;
  height: 2rem;
}
