.Laboratories {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
}

.laboratore img {
  width: 45rem;
  max-width: 100%;
  margin-bottom: 1rem;
}

.laboratore p {
  color: black;
  font-family: "Spectral", serif;
  font-weight: 600;
  font-size: 2rem;
}
